body{
    background-color: black;
}
h1{
    padding: 5%;
    font-family: Courier, Monospace;
    font-size: 100px;
    font-weight: bolder;
    text-shadow: 10px 10px #131212;
    text-align: center;
    color: rgb(235, 112, 23);
    background-image: url(metal-pattern-grey.jpeg);
}

p{
    padding: 15%;
    color: whitesmoke;
    font-family: Courier, Monospace;
    font-size: 25px;
    text-align: center;
}

